.parent-container {
  padding: 15px 15px 15px 15px;
}



.monologue-container {
  max-width: 800px;
  font-size: medium;
}

.email-container {
}

.speaker {
  padding-right: 3px;
  font-weight: bold;
  color: blue;
}

.dialogue {
  color: black;
}

.sidenav-icon {
  padding-right: 15px;
}

.title{
  font-weight: bold;
}

.name-container{
  font-size: medium;
  font-weight: bold;
  color: blue;

}
