.parent-container {
  padding: 15px 15px 15px 15px;
}

.dialogue-container {
  padding-bottom: 20px;
}

.email-container {
}

.speaker {
  font-weight: bold;
  color: blue;
}

.dialogue {
  color: black;
}

.sidenav-icon {
  padding-right: 15px;
}
