.parent-container {
  padding: 15px 15px 15px 15px;
}

.font-red-bold {
  color: red;
  font-weight: bold;
}

.mat-panel-title {
}

.font-blue-bold {
  color: blue;
  font-weight: bold;
}

.button-accordion {
}

.testing-container {
  margin-bottom: 40px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.sub-title {
  font-size: medium;
  font-weight: bold;
}

.right-child {
  margin-right: 20px;
}

.xsmall-font {
  font-size: x-small;
  font-weight: normal;
}
