<div class="example-container" [class.example-is-mobile]="mediaQueryList.matches">

  <mat-toolbar color="primary" class="example-toolbar">


    <div class="header-container">
      <div>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <div class="font-h2 page-header"><span>COVID -19 Tracker</span></div>

      <div class="share-container">
        <mat-icon color="white" mat-icon-button (click)="share()">share</mat-icon>
      </div>
    </div>

  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mediaQueryList.matches ? 56 : 0">

    <mat-sidenav #sidenav [mode]="mediaQueryList.matches ? 'over' : 'side'"
                 [fixedInViewport]="mediaQueryList.matches" fixedTopGap="56"
                 [opened]="!mediaQueryList.matches"
                 (click)="mediaQueryList.matches && sidenav.toggle()"
                 role="navigation">
      <mat-nav-list>

        <a mat-list-item [routerLink]="'/home-page'">
          <mat-icon class="sidenav-icon" class="green">home</mat-icon>
          Home Page
        </a>

        <!--
        <a mat-list-item [routerLink]="'/global-cases'">
          <mat-icon class="sidenav-icon" color="primary">language</mat-icon>
          Global Cases
        </a>
        -->

        <a mat-list-item [routerLink]="'/helpline'">
          <mat-icon class="sidenav-icon" color="accent">phone</mat-icon>
          Helpline
        </a>

        <a mat-list-item [routerLink]="'/testing-centres'">
          <mat-icon class="sidenav-icon" class="red-dark">local_hospital</mat-icon>
          Testing
        </a>

        <a mat-list-item [routerLink]="'/health-tips'">
          <mat-icon class="sidenav-icon" color="primary">healing</mat-icon>
          Health
        </a>

        <a mat-list-item [routerLink]="'/humour'">
          <mat-icon class="sidenav-icon" class="orange">tag_faces</mat-icon>
          Humour
        </a>

        <a mat-list-item [routerLink]="'/about-us'">
          <mat-icon class="sidenav-icon" class="blue-light">people</mat-icon>
          About
        </a>

      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div style="height: 88vh;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>

