<div class="example-container" [class.example-is-mobile]="mediaQueryList.matches">

  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="page-header">COVID -19 (Corona Virus) Tracker</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mediaQueryList.matches ? 56 : 0">

    <mat-sidenav #sidenav [mode]="mediaQueryList.matches ? 'over' : 'side'"
                 [fixedInViewport]="mediaQueryList.matches" fixedTopGap="56"
                 [opened]="!mediaQueryList.matches"
                 (click)="mediaQueryList.matches && sidenav.toggle()"
                 role="navigation">
      <mat-nav-list>

        <a mat-list-item [routerLink]="'/home-page'">
          <mat-icon class="sidenav-icon" class="green">home</mat-icon>
          Home Page
        </a>

        <!--
        <a mat-list-item [routerLink]="'/global-cases'">
          <mat-icon class="sidenav-icon" color="primary">language</mat-icon>
          Global Cases
        </a>
        -->

        <a mat-list-item [routerLink]="'/helpline'">
          <mat-icon class="sidenav-icon" color="accent">phone</mat-icon>
          Helpline
        </a>

        <a mat-list-item [routerLink]="'/health-tips'">
          <mat-icon class="sidenav-icon" color="primary">local_hospital
          </mat-icon>
          Health
        </a>

        <a mat-list-item [routerLink]="'/humour'">
          <mat-icon class="sidenav-icon" class="orange">tag_faces</mat-icon>
          Humour
        </a>

        <a mat-list-item [routerLink]="'/about-us'">
          <mat-icon class="sidenav-icon" class="blue-light">people</mat-icon>
          About
        </a>

      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div style="height: 88vh;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>

