<div class="parent-container">

  <span class="font-h2">Humour in times of Corona</span>
  <mat-divider></mat-divider>
  <br/>

  <ng-container *ngIf="imagesList != null">
    <div class="div-scrollable" *ngFor="let image of imagesList" (deferLoad)="image.show = true">
      <ng-container *ngIf="image.show">
        <mat-card class="mat-card-container">
          <img mat-card-image src={{image.url}}>
        </mat-card>
      </ng-container>
      <br/><br/>
      <mat-divider></mat-divider>
    </div>
  </ng-container>

</div>
