<div class="parent-container">
  <section class="mat-typography">
    <span class="font-h2">Humour in times of Corona</span>
    <mat-divider></mat-divider>
    <br/>

    <mat-card class="mat-card-container">
      <img mat-card-image src="./assets/images/humour_bane.jpg">
    </mat-card>

    <mat-card class="mat-card-container">
      <img mat-card-image src="./assets/images/humour_kiran.jpg">
    </mat-card>

    <mat-card class="mat-card-container">
      <img mat-card-image src="./assets/images/humour_beer.jpg">
    </mat-card>

    <mat-card class="mat-card-container">
      <img mat-card-image src="./assets/images/humour_bhagwaan.jpg">
    </mat-card>

    <mat-card class="mat-card-container">
      <img mat-card-image src="./assets/images/humour_cases.jpg">
    </mat-card>

    <mat-card class="mat-card-container">
      <img mat-card-image src="./assets/images/humour_hand.jpg">
    </mat-card>

    <mat-card class="mat-card-container">
      <img mat-card-image src="./assets/images/humour_houseplant.jpg">
    </mat-card>

    <mat-card class="mat-card-container">
      <img mat-card-image src="./assets/images/humour_meme.jpg">
    </mat-card>

    <mat-card class="mat-card-container">
      <img mat-card-image src="./assets/images/humour_men.jpg">
    </mat-card>

    <mat-card class="mat-card-container">
      <img mat-card-image src="./assets/images/humour_swim.jpg">
    </mat-card>

    <mat-card class="mat-card-container">
      <img mat-card-image src="./assets/images/humour_whf.jpg">
    </mat-card>

  </section>
</div>
