<div class="parent-container">
  <section class="mat-typography">
    <div>
      <h2>Global Cases Stats <span class="small-font">(source: <a href="https://www.worldometers.info/coronavirus/" target="_blank">worldometer</a>)</span></h2>

      <!-- Global Summary STARTS -->
      <div style='display: inline-block;'>
        <app-summary-data-box dataSrc="summaryGlobal" [showConfirmedData]=true [showCuredData]=true [showDeathData]=true></app-summary-data-box>
      </div>
      <!-- Global Summary ENDS -->

    </div>
  </section>
</div>
