.parent-container {
  padding: 15px 5px 15px 5px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.sub-title {
  font-size: medium;
  font-weight: bold;
}

.hospital-name {
  color: #012ECA;
  font-weight: bold;
}

.district-name {
  color: #B105B3;
  font-weight: bold;
}

.icon-phone {
  padding-top: 5px;
  font-size: small;
  color: navy;
}

.lab-count {

}

.state-name {
  padding-right: 10px;
}
