.summary-data-container {
  text-align: center;
}

.summary-data-card {
  max-height: 40px;
  float: left;
}



.card {
  background-color: #FFF1EC;
}

.case-type {
  font-size: small;
  color: black;
}
