<div *ngIf="summaryData" class="summary-data-container">

  <mat-card class="summary-data-card" *ngIf="showDeathData">
    <mat-card-content>
      <mat-card-subtitle><span class="case-type">Deaths</span></mat-card-subtitle>
      <mat-card-title>
        <span class="color-deaths font-xlarge">{{summaryData.deaths | number: '1.0-0'}}</span></mat-card-title>
    </mat-card-content>
  </mat-card>

  <mat-card class="summary-data-card" *ngIf="showCuredData">
    <mat-card-content>
      <mat-card-subtitle><span class="case-type">Cured</span></mat-card-subtitle>
      <mat-card-title>
        <span class="color-cured font-xlarge">{{summaryData.cured | number: '1.0-0'}}</span></mat-card-title>
    </mat-card-content>
  </mat-card>

  <mat-card class="summary-data-card" *ngIf="showConfirmedData">
    <mat-card-content>
      <mat-card-subtitle><span class="case-type">Confirmed</span></mat-card-subtitle>
      <mat-card-title>
        <span class="color-confirmed font-xlarge">{{summaryData.confirmed | number: '1.0-0'}}</span></mat-card-title>
    </mat-card-content>
  </mat-card>


</div>

