<div class="parent-container">

  <div class="summary-data-container">
    <!-- All India helpline STARTS -->
    <mat-card class="summary-data-card">
      <mat-card-header>
        <mat-card-title>All India Helpline</mat-card-title>
        <mat-card-subtitle>
          <mat-icon aria-hidden="false" aria-label="phone" class="sidenav-icon">phone</mat-icon>
          <span class="card-subtitle-data">+91-11-23978046</span>
        </mat-card-subtitle>
        <mat-card-subtitle>
          <mat-icon aria-hidden="false" aria-label="email" class="sidenav-icon">email</mat-icon>
          <span class="card-subtitle-data">ncov2019[at]gmail[dot]com</span>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <!-- All India helpline ENDS -->
  </div>


  <!-- Statewise helpline STARTS -->
  <div class="state-wise-helpline-container">
    <h2>State/UT Helpline Numbers</h2>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- State name column -->
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> State / UT</th>
        <td mat-cell *matCellDef="let element" class="left"> {{element.state}} </td>
      </ng-container>

      <!-- helpline number column -->
      <ng-container matColumnDef="helplineNo">
        <th mat-header-cell *matHeaderCellDef>Helpline Number</th>
        <td mat-cell *matCellDef="let element" class="left"> {{element.helplineNo}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <!-- Statewise helpline ENDS -->


</div>
