.parent-container {
  padding: 15px 15px 15px 15px;
}


.summary-data-container {
  padding-bottom: 15px;
}

.summary-data-card {
}

.state-wise-helpline-container {
  padding: 15px 0px 15px 0px;
}

.mat-header-row {
  background-color: #d7d7d7;
}

.mat-row:nth-child(even) {
  background-color: #f3f3f3;
}

.mat-row:nth-child(odd) {
  background-color: #fbfbfb;
}

.sidenav-icon {
}

.card-subtitle-data {
  padding-left: 15px;
  font-size: large;
  font-weight: bold;
  color: black;
}

.toll-free {
  font-weight: normal;
  color: gray;
}


.small-font{
  font-size: x-small;
}
