<div class="parent-container">

  <div class="summary-data-container">
    <!-- All India helpline STARTS -->
    <mat-card class="summary-data-card">
      <mat-card-header>
        <mat-card-title>All India Helpline <span class="src-data">(source: <a class="no-underline"
                                                                              href="https://www.mohfw.gov.in/"
                                                                              target="_blank">Govt. of India</a>)</span>
        </mat-card-title>

        <mat-card-subtitle>
          <mat-icon aria-hidden="false" aria-label="phone" class="green">phone</mat-icon>
          <span class="card-subtitle-data">1075 <span class="toll-free">(Toll Free)</span></span>
        </mat-card-subtitle>

        <mat-card-subtitle>
          <mat-icon aria-hidden="false" aria-label="phone" color="primary">phone</mat-icon>
          <span class="card-subtitle-data">+91-11-23978046</span>
        </mat-card-subtitle>

        <mat-card-subtitle>
          <mat-icon aria-hidden="false" aria-label="email" class="orange">email</mat-icon>
          <span class="card-subtitle-data">
            <button mat-button *ngIf="showRevealButton" (click)="onRevealBtnClick()">Show</button>
            <span *ngIf="showEmail">{{email}}</span>
          </span>
        </mat-card-subtitle>

      </mat-card-header>
    </mat-card>
    <!-- All India helpline ENDS -->
  </div>

  <br/>

  <!-- Statewise helpline STARTS -->
  <div class="state-wise-helpline-container">
    <span class="font-h2">State / UT Helpline Numbers</span>
    <mat-divider></mat-divider>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- State name column -->
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><span class="table-header"> State / UT</span></th>
        <td mat-cell *matCellDef="let element" class="left"> {{element.state}} </td>
      </ng-container>

      <!-- helpline number column -->
      <ng-container matColumnDef="helplineNo">
        <th mat-header-cell *matHeaderCellDef><span class="table-header">Helpline Number</span></th>
        <td mat-cell *matCellDef="let element" class="left"> {{element.helplineNo}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <!-- Statewise helpline ENDS -->


</div>
