/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
}

* {
  font-family: "Poppins, sans-serif";
}

mat-divider {
  padding: 12px 4px 12px 2px;
}

.src-data {
  font-size: x-small;
  font-weight: normal;
  color: darkgray;
}

.color-deaths {
  color: #CA0529;
}


.color-cured {
  color: #167A02;
}

.color-active {
  color: #B105B3;
}

.color-confirmed {
  color: #012ECA;
}

.black {
  color: black;
}

.blue-light {
  color: #89FCF0;
}

.gray {
  color: gray;
}

.green {
  color: #0C8002;
}

.green-bright {
  color: #1AF507;
}

.orange {
  color: #FCDE1B;
}

.red-bright {
  color: #F94507;
}

.red-dark {
  color: #7B1102;
}

.white {
  color: #FFFFFF;
}

.font-h2 {
  font-family: "Poppins, sans-serif";
  font-size: 20px;
}

.font-size-20 {
  font-size: 20px;
}

.font-small {
  font-size: small;
}

.font-xsmall {
  font-size: x-small;
}

.font-medium {
  font-size: medium;
}

.font-large {
  font-size: x-large;
}

.font-xlarge {
  font-size: x-large;
}

.font-bold {
  font-weight: bold;
}

.font-src {
  font-size: x-small;
  font-weight: normal;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.table-header {
  font-weight: bold;
  font-size: medium;
  color: black;
}

.expansion-panel-content {
  background-color: #F3FDFF;
}

.no-underline {
  text-decoration: none;
}

.snackbar-background {
  background: #F79A03;
}

.snackbar-text {
  color: #FFFFFF;
}
