<div class="parent-container">

  <!-- Global Summary STARTS -->
  <div>
      <span class="font-h2">Global Cases
        <span class="src-data">(source: <a class="no-underline"
                                           href="https://www.worldometers.info/coronavirus/"
                                           target="_blank">worldometer</a>)
        </span>
      </span>
    <mat-divider></mat-divider>

    <div style='display: inline-block;'>
      <app-summary-data-box dataSrc="globalCasesSummary"></app-summary-data-box>
    </div>

  </div>
  <!-- Global Summary ENDS -->

  <br/><br/>

  <!-- India Summary STARTS -->
  <div>
    <span class="font-h2">India Cases
      <span class="src-data"> (source: <a class="no-underline" href="https://www.mohfw.gov.in/" target="_blank">Govt. of india</a>)</span>
    </span>
    <mat-divider></mat-divider>

    <div style='display: inline-block;'>

      <app-summary-data-box dataSrc="indiaCasesSummary"></app-summary-data-box>
    </div>
  </div>
  <!-- India Summary ENDS -->

  <br/><br/>

  <!-- state wise stats STARTS -->
  <div>
    <span class="font-h2">State-wise Cases</span>
    <mat-divider></mat-divider>
    <!-- Interactive Map STARTS -->
    <div class="map-container">
      <iframe src='https://public.flourish.studio/visualisation/1579013/embed' frameborder='0' scrolling='no'
              style='width:100%;height:600px;'></iframe>
      <div style='width:100%!;margin-top:4px!important;text-align:right!important;'><a class='flourish-credit'
                                                                                       href='https://public.flourish.studio/visualisation/1579013/?utm_source=embed&utm_campaign=visualisation/1579013'
                                                                                       target='_top'
                                                                                       style='text-decoration:none!important'></a>
      </div>
    </div>
    <!-- Interactive Map ENDS -->

    <!-- state wise break down table STARTS -->
    <div>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- State name Column -->
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><span class="table-header">State / UT</span></th>
          <td mat-cell *matCellDef="let element" class="text-align-left"> {{element.state}} </td>
        </ng-container>

        <!-- Deaths Column STARTS-->
        <ng-container matColumnDef="deathsTotal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><span class="table-header">Deaths</span></th>
          <td mat-cell *matCellDef="let element" class="text-align-center">

            <span
              [ngClass]="{'font-bold': element.deathsTotal > 0, 'gray': element.deathsTotal == 0}">
              {{element.deathsTotal | number: '1.0-0'}}
            </span>

            <br/>

            <!-- delta value STARTS -->
            <span class="delta-value">

              <span class="delta-arrow">
                <span *ngIf="element.deathsTotalDelta > 0" class="red-bright">
                  +{{element.deathsTotalDelta | number: '1.0-0'}}
                </span>
                <span *ngIf="element.deathsTotalDelta < 1" class="green-bright">-</span>
              </span>
            </span>
            <!-- delta value ENDS -->

          </td>
        </ng-container>
        <!-- Deaths Column ENDS-->

        <!-- Cured Column STARTS -->
        <ng-container matColumnDef="curedTotal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><span class="table-header">Cured</span></th>
          <td mat-cell *matCellDef="let element" class="text-align-center">

            <span
              [ngClass]="{'font-bold': element.curedTotal > 0, 'gray': element.curedTotal == 0}">
              {{element.curedTotal | number: '1.0-0'}}
            </span>

            <!-- delta value STARTS -->
            <span class="delta-value">

              <span class="delta-arrow">
                <span *ngIf="element.curedTotalDelta > 0" class="green-bright">
                  +{{element.curedTotalDelta | number: '1.0-0'}}
                </span>
                <span *ngIf="element.curedTotalDelta < 1" class="green-bright">-</span>
              </span>
            </span>
            <!-- delta value ENDS -->

          </td>
        </ng-container>
        <!-- Cured Column ENDS -->

        <!-- Sick Column STARTS -->
        <ng-container matColumnDef="activeTotal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><span class="table-header">Sick</span></th>
          <td mat-cell *matCellDef="let element" class="text-align-center">

            <span
              [ngClass]="{'font-bold': element.activeTotal > 0, 'gray': element.activeTotal == 0}">
              {{element.activeTotal | number: '1.0-0'}}
            </span>

            <!-- delta value STARTS -->
            <span class="delta-value">

              <span class="delta-arrow">
                <span *ngIf="element.activeTotalDelta > 0" class="red-bright">
                  +{{utilService.abs(element.activeTotalDelta) | number: '1.0-0'}}
                </span>
                <span *ngIf="element.activeTotalDelta < 0" class="green-bright">
                  -{{utilService.abs(element.activeTotalDelta) | number: '1.0-0'}}
                </span>
                <span *ngIf="element.activeTotalDelta == 0" class="green-bright">-</span>
              </span>
            </span>
            <!-- delta value ENDS -->


          </td>
        </ng-container>
        <!-- Sick Column ENDS -->

        <!-- Confirmed Column STARTS -->
        <ng-container matColumnDef="confirmedTotal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><span class="table-header"> Confirmed</span></th>
          <td mat-cell *matCellDef="let element" class="text-align-center">
            <span
              [ngClass]="{'font-bold color-confirmed': element.confirmedTotal > 0, 'gray': element.confirmedTotal == 0}">
              {{element.confirmedTotal | number: '1.0-0'}}
            </span>

            <!-- delta value STARTS -->
            <span class="delta-value">
              <span class="delta-arrow">
                <span *ngIf="element.confirmedTotalDelta > 0" class="red-bright">
                  +{{element.confirmedTotalDelta | number: '1.0-0'}}
                </span>
                <span *ngIf="element.confirmedTotalDelta < 1"
                      class="green-bright">-</span>
              </span>
            </span>
            <!-- delta value ENDS -->

          </td>
        </ng-container>
        <!-- Confirmed Column ENDS -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <!-- state wise break down table ENDS -->

  </div>
  <!-- state wise stats ENDS -->

</div>
