<div class="parent-container">

  <!-- Global Summary STARTS -->
  <div>
      <span class="font-h2">Global Cases
        <span class="src-data">(source: <a class="no-underline"
                                           href="https://www.worldometers.info/coronavirus/"
                                           target="_blank">worldometer</a>)
        </span>
      </span>
    <mat-divider></mat-divider>

    <div style='display: inline-block;'>
      <app-summary-data-box dataSrc="globalCasesSummary"></app-summary-data-box>
    </div>

  </div>
  <!-- Global Summary ENDS -->

  <br/><br/>

  <!-- India Summary STARTS -->
  <div>
    <span class="font-h2">India Cases
      <span class="src-data"> (source: <a class="no-underline" href="https://www.mohfw.gov.in/" target="_blank">Govt. of india</a>)</span>
    </span>
    <mat-divider></mat-divider>

    <div style='display: inline-block;'>

      <app-summary-data-box dataSrc="indiaCasesSummary"></app-summary-data-box>
    </div>
  </div>
  <!-- India Summary ENDS -->

  <br/><br/>

  <!-- state wise stats STARTS -->
  <div>
    <span class="font-h2">State-wise Cases</span>
    <mat-divider></mat-divider>

    <!-- Interactive Map STARTS -->
    <!--
    <div class="map-container">
      <iframe src='https://public.flourish.studio/visualisation/1579013/embed' frameborder='0' scrolling='no'
              style='width:100%;height:600px;'></iframe>
      <div style='width:100%!;margin-top:4px!important;text-align:right!important;'>
        <a class='flourish-credit'
           href='https://public.flourish.studio/visualisation/1579013/?utm_source=embed&utm_campaign=visualisation/1579013'
           target='_top' style='text-decoration:none!important'>
        </a>
      </div>
    </div>
    -->
    <!-- Interactive Map ENDS -->

    <div class="map-container">
      <highcharts-chart
        id="container"
        [Highcharts]="Highcharts"

        [constructorType]="chartConstructor"
        [options]="chartOptions"


        style="width: 100%; height: 400px; display: block;"
      ></highcharts-chart>

    </div>






    <!-- state wise break down table STARTS -->
    <div>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- State name Column -->
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><span class="table-header">State / UT</span></th>
          <td mat-cell *matCellDef="let element" class="text-align-left"> {{element.state}} </td>
        </ng-container>

        <!-- Deaths Column STARTS-->
        <ng-container matColumnDef="deaths">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><span class="table-header">Deaths</span></th>
          <td mat-cell *matCellDef="let element" class="text-align-center">

            <span
              [ngClass]="{'font-bold': element.deaths > 0, 'gray': element.deaths == 0}">
              {{element.deaths | number: '1.0-0'}}
            </span>

            <br/>

            <!-- delta value STARTS -->
            <span class="delta-value">

              <span class="delta-arrow">
                <span *ngIf="element.deathsDelta > 0" class="red-bright">
                  +{{element.deathsDelta | number: '1.0-0'}}
                </span>
                <span *ngIf="element.deathsDelta < 1" class="green-bright">-</span>
              </span>
            </span>
            <!-- delta value ENDS -->

          </td>
        </ng-container>
        <!-- Deaths Column ENDS-->

        <!-- Cured Column STARTS -->
        <ng-container matColumnDef="cured">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><span class="table-header">Cured</span></th>
          <td mat-cell *matCellDef="let element" class="text-align-center">

            <span
              [ngClass]="{'font-bold': element.cured > 0, 'gray': element.cured == 0}">
              {{element.cured | number: '1.0-0'}}
            </span>

            <!-- delta value STARTS -->
            <span class="delta-value">

              <span class="delta-arrow">
                <span *ngIf="element.curedDelta > 0" class="green-bright">
                  +{{element.curedDelta | number: '1.0-0'}}
                </span>
                <span *ngIf="element.curedDelta < 1" class="green-bright">-</span>
              </span>
            </span>
            <!-- delta value ENDS -->

          </td>
        </ng-container>
        <!-- Cured Column ENDS -->

        <!-- Sick Column STARTS -->
        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><span class="table-header">Sick</span></th>
          <td mat-cell *matCellDef="let element" class="text-align-center">

            <span
              [ngClass]="{'font-bold': element.active > 0, 'gray': element.active == 0}">
              {{element.active | number: '1.0-0'}}
            </span>

            <!-- delta value STARTS -->
            <span class="delta-value">

              <span class="delta-arrow">
                <span *ngIf="element.activeDelta > 0" class="red-bright">
                  +{{utilService.abs(element.activeDelta) | number: '1.0-0'}}
                </span>
                <span *ngIf="element.activeDelta < 0" class="green-bright">
                  -{{utilService.abs(element.activeDelta) | number: '1.0-0'}}
                </span>
                <span *ngIf="element.activeDelta == 0" class="green-bright">-</span>
              </span>
            </span>
            <!-- delta value ENDS -->


          </td>
        </ng-container>
        <!-- Sick Column ENDS -->

        <!-- Confirmed Column STARTS -->
        <ng-container matColumnDef="confirmed">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><span class="table-header"> Confirmed</span></th>
          <td mat-cell *matCellDef="let element" class="text-align-center">
            <span
              [ngClass]="{'font-bold color-confirmed': element.confirmed > 0, 'gray': element.confirmed == 0}">
              {{element.confirmed | number: '1.0-0'}}
            </span>

            <!-- delta value STARTS -->
            <span class="delta-value">
              <span class="delta-arrow">
                <span *ngIf="element.confirmedDelta > 0" class="red-bright">
                  +{{element.confirmedDelta | number: '1.0-0'}}
                </span>
                <span *ngIf="element.confirmedDelta < 1"
                      class="green-bright">-</span>
              </span>
            </span>
            <!-- delta value ENDS -->

          </td>
        </ng-container>
        <!-- Confirmed Column ENDS -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <!-- state wise break down table ENDS -->

  </div>
  <!-- state wise stats ENDS -->

</div>
